@model MVCApp.Models.Lajsna

@{
    ViewData["Title"] = "Create";
}

<h1>Kreiranje nove lajsne</h1>

@*<h4>Lajsna</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="NazivLajsne" class="control-label"></label>
                <input asp-for="NazivLajsne" class="form-control" />
                <span asp-validation-for="NazivLajsne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazivTipa" class="control-label"></label>
                <input asp-for="NazivTipa" class="form-control" />
                <span asp-validation-for="NazivTipa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrenutnaCena" class="control-label"></label>
                <input asp-for="TrenutnaCena" class="form-control" />
                <span asp-validation-for="TrenutnaCena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipLajsne.NazivTipa" class="control-label"></label>
                @*<input asp-for="TipLajsne.Id" class="form-control" />*@
                @Html.DropDownList("TipLajsne.NazivTipa", new SelectList(ViewBag.Types, "NazivTipa", "NazivTipa"))
                <span asp-validation-for="TipLajsne.NazivTipa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kreiraj lajsnu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<hr />
<div>
    <a asp-action="Index">Odustani</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
